.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
}
.display-flex,
.item-display-flex > * {
  display: -webkit-box;
  display: flex;
}
.flex-direction-column,
.item-flex-direction-column > * {
  -webkit-box-orient: vertical;
  flex-direction: column;
}
.flex-direction-row,
.item-flex-direction-row > * {
  -webkit-box-orient: horizontal;
  flex-direction: row;
}
.flex-row-align-start,
.item-flex-row-align-start > * {
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.flex-row-align-end,
.item-flex-row-align-end > * {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.flex-row-align-center,
.item-flex-row-align-center > * {
  -webkit-box-pack: center;
  justify-content: center;
}
.flex-row-align-between,
.item-flex-row-align-between > * {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.flex-row-align-around,
.item-flex-row-align-around > * {
  -webkit-box-pack: justify;
  justify-content: space-around;
}
.flex-col-align-start,
.item-flex-col-align-start > * {
  -webkit-box-align: start;
  align-items: flex-start;
}
.flex-col-align-end,
.item-flex-col-align-end > * {
  -webkit-box-align: end;
  align-items: flex-end;
}
.flex-col-align-center,
.item-flex-col-align-center > * {
  -webkit-box-align: center;
  align-items: center;
}
.flex-col-align-baseline,
.item-flex-col-align-baseline > * {
  -webkit-box-align: baseline;
  align-items: baseline;
}
.flex-0,
.item-flex-0 > * {
  -webkit-box-flex: 0;
  flex: 0;
}
.flex-1,
.item-flex-1 > * {
  -webkit-box-flex: 1;
  flex: 1;
}
